*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color: #0c1821;
    color: white;
    font-family: "Noto Sans", "Trebuchet MS", "Geneva", "sans-serif";
}

body>h1{
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin:52px  auto;
    max-width: 100%;
    text-align: center;
}

/*la partie principale*/

main{
    display: flex;
    width: 90%;
    gap: 50px;
    margin: auto;
}

section{
    width: 70%;
}

.bloc1{
    display: flex;
    gap: 22px;
    margin-bottom: 25px;
}

.bloc1 div{
    width:100%;
}
h1{
    color: #FFF;
    font-size: 2vw;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 10px;
}

p{
    color: #FFF;
    font-size:1.6vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.image img{
    width: 100%;
    height: 300px;
}
.bloc {
    display: flex;
    gap: 22px;
    margin-bottom: 55px;
}
video{
    width: 49%;
    height: 300px;
    
}



/*la partie aside */
main>aside{
    width: 30%;
    height: 600px;
}
table{
    max-width:395px;
}
table, tr,td{
    border-collapse:collapse ;
    border: 1px solid rgb(255, 254, 254);
}
aside table tr td p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 350px;
    margin: auto;
}
table tr:nth-child(1){
    max-width: 384px;
    height: 61px;
    text-align: center;
    background: #324A5F;    
}
table tr:nth-child(2), tr:nth-child(3), tr:nth-child(5){
    max-width: 384px;
    height: 241.583px;
}
aside img{
    width: 394px;
    padding-top: 10px;
}
.title{
    width: 394px;
    height: 61px;
    background-color: #324A5F;
    border: 1px solid #324a5f;
    text-align: center;
    padding: 20px;
    margin: 10px 0px;
    position: sticky;
    top: 0px;
}

aside .ressources{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:394px;
    gap: 10px;
    text-align: center;
    position: sticky;
    top: 0px;
}

aside .ressources div{
    width: 181px;
    height: 50px;
    background-color: #324A5F;
    border: 1px solid #324a5f;
    width:auto;
    padding: 15px;
}
aside .ressources div a{
    color: white;
    text-decoration: none;
}

table tr:nth-child(3){
    background-color: #324A5F;
}

main>aside{
    width: 30%;
    height: 600px;
}
table{
    width:395px;
}
table, tr,td{
    border-collapse:collapse ;
    border: 1px solid rgb(255, 254, 254);
}
aside table tr td p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    width: 350px;
    margin: auto;
}
table tr:nth-child(1){
    width: 384px;
    height: 61px;
    text-align: center;
    background: #324A5F;    
}
table tr:nth-child(2), tr:nth-child(3), tr:nth-child(5){
    width: 384px;
    height: 241.583px;
}
aside img{
    width: 394px;
    padding-top: 10px;
}
.title{
    width: 394px;
    height: 61px;
    background-color: #324A5F;
    border: 1px solid #324a5f;
    text-align: center;
    padding: 20px;
    margin: 10px 0px;
    position: sticky;
    top: 0px;
}

aside .ressources{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width:394px;
    gap: 10px;
    text-align: center;
    position: sticky;
    top: 0px;
}

aside .ressources div{
    width: 181px;
    height: 50px;
    background-color: #324A5F;
    border: 1px solid #324a5f;
    width:auto;
    padding: 15px;
}
aside .ressources div a{
    color: white;
    text-decoration: none;
}

table tr:nth-child(3){
    background-color: #324A5F;
}

@media screen and (max-width:1262px) {
    main{
        width: 90%;
        margin: 15px;
    }

}

@media screen and (max-width:1166px) {
   h1{
    font-size:30px;
   }
   p{
    font-size:2vw;
   }
    main{
        width: 100%;
    }
   
    section{
        width: 90%;
        margin: auto;
    }
   
    body{
        overflow-x: hidden;
    }
}

@media screen and (max-width:915px) {
    aside{ 
        display: none;
    }

}
@media screen and (max-width:800px) {
    article {
        display: flex;
        flex-direction: column;
    }
    .image img{
        max-width: 655px;
        height: 318px;
    }

    h1{
        width: 655px;
        color: #FFF;
        font-size: 40px;
        font-style: normal;
        font-weight: 800;
        line-height: normal;
    }

    p{
        color: #FFF;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        width: 648px;
    }

    .bloc{
        width: 100%;
    }

    video{
        width: 100%;
    }
}

@media screen and (max-width:713px) {
    section{
    padding: 0px;
    margin: 0px;
 }
    .bloc1 {
        width: 100%;
    }

    .image img {
        width:100%;
    }

    h1,p{
        width: 100%;
    }
}